.env
.env.*
.env.local

# EXCEPTION : On autorise Git à envoyer les fichiers "modèles" vides pour l'équipe
!.env.example

# Bloque vos mots de passe en texte brut utilisés par les "secrets" de Docker
/secrets/*.txt

# On ignore les modules lourds (ils seront réinstallés avec 'npm install')
/frontend/node_modules/
# On ignore les dossiers de compilation (générés par 'npm run build')
/frontend/dist/
/frontend/dist-ssr/
# Fichiers de logs d'erreurs NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================================
# 3. DÉPENDANCES BACK-END (PHP / Composer)
# ==========================================
# On ignore les librairies PHP (elles seront réinstallées avec 'composer install')
/backend/vendor/
/backend/composer.phar
backend/.env
frontend/.env


# ==========================================
# 4. FICHIERS SYSTÈMES ET ÉDITEURS (IDE)
# ==========================================
# Fichiers invisibles MacOS et Windows
.DS_Store
Thumbs.db

# Fichiers de configuration de VS Code ou PHPStorm (pour ne pas forcer vos réglages aux autres)
.vscode/
.idea/