APP_ENV=development
# Variables Applicatives (PHP)
JWT_SECRET=Key_Jardinerie_Secret_Key_2026_Super_Secure!*

# Connexion PDO pour PHP
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=



# API STRIPE (Clé Secrète et Webhook)
STRIPE_SECRET_KEY=sk_test_51(récupéré sur le dashboard stripe)
STRIPE_WEBHOOK_SECRET=whsec_... (générée plus tard lors des tests webhook)