<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
         <php>
            <env name="RESEND_API_KEY" value="ddddddddddddddd" />
         </php>
         
         
    <testsuites>
        <testsuite name="Backend Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <!-- Répertoire contenant le code applicatif à analyser. -->
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <!-- Génère un rapport HTML consultable dans le navigateur. -->
            <html outputDirectory="coverage"/>
        </report>
    </coverage>
</phpunit>